<div class="mt-3">
    <a class="btn btn-success" routerLink="/url/create">Add New URL</a>
  </div>
  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Redirect URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let url of urls" [ngClass]="{ 'disabled-row': !url.is_active }">
          <!-- Short URL with copy and open in new tab functionality -->
          <td>
            <!-- Short URL -->
            <a [href]="baseUrl + url.url_key" target="_blank">{{ baseUrl + url.url_key }}</a>
            <!-- Copy to Clipboard Icon -->
            <button class="btn btn-sm btn-outline-secondary ms-2" (click)="copyToClipboard(baseUrl + url.url_key)">
              <i class="bi bi-clipboard"></i> <!-- Clipboard icon -->
            </button>
          </td>
          <td>
            <a [href]="url.redirect_url" target="_blank">{{ url.redirect_url }}</a>
          </td>
          <td>
            <button class="btn btn-primary me-2" (click)="editUrl(url)">Edit</button>
            <button class="btn btn-danger" (click)="deleteUrl(url)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  